(name: "jungle_log",
    textures: [("side", "jungle_log"), ("top", "jungle_log"), ("bottom", "jungle_log_top")],
    elements: [{
        from: [0, 0, 0],
        to: [16, 16, 16],
        faces: [("north", (texture: "#side", enabled: true)), ("top", (texture: "#top", enabled: true)), ("south", (texture: "#side", enabled: true)), ("west", (texture: "#side", enabled: true)), ("east", (texture: "#side", enabled: true)), ("bottom", (texture: "#bottom", enabled: true))],
    }], render_type: "opaque", collidable: true)
