(name: "oak_leaves",
    textures: [("texture", "oak_leaves")],
    elements: [{
        from: [0, 0, 0],
        to: [16, 16, 16],
        faces: [("west", (texture: "#texture", enabled: true)), ("bottom", (texture: "#texture", enabled: true)), ("top", (texture: "#texture", enabled: true)), ("south", (texture: "#texture", enabled: true)), ("north", (texture: "#texture", enabled: true)), ("east", (texture: "#texture", enabled: true))],
    }], render_type: "opaque", collidable: true)
